body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}




 /* .rbc-event {
  margin: 4px;
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
}
 */

.rbc-event-label {
  display: none !important;
}

.rbc-events-container {
  width: 100% !important;  
} 

.rbc-timeslot-group {
  min-height: 120px !important;
}